@import 'settings';
@import 'mixins/mixins';
@import 'bootstrap';
@import 'global';
@import 'typography';


body {
  background-image: url('../assets/ONEBackground.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  overflow: visible;
  max-width: 100vw;
  max-height: auto;
  // -ms-overflow-style: none;  /* IE and Edge */
  // scrollbar-width: none;  /* Firefox */
}

// body::-webkit-scrollbar {
//   display: none;
// }